.novedades{
    background-image: url("../img/fondo_noticias.jpg");
    background-size: cover;
}

.novedad{
    margin-left: 10%;
    width: 80%;
    background-color: $azul2;
    padding-bottom: 20%;
    text-align: center;
    img{
        margin-top: 15%;
        width: 70%;
        height: auto;
    }

    .texto_nov{
        display: flex;
        text-align: left;
    }
}

.nav_nov{
    background-color: $rojo1;
    width: 105vw;
    padding-left: 5%;

    li{
        a{
            color: white;
        }
    }
}
